@import './styles/global.css';
@import './styles/layout.css';
@import './styles/dashboard.css';
@import './styles/tasks.css';
@import './styles/notes.css';
@import './styles/events.css';
@import './styles/categories.css';